name: Build and Publish Docker Image

on:
  schedule:
    - cron: '0 2 * * *'       # Ogni giorno alle 2:00 AM UTC
  push:
    branches:
      - main                 # Trigger anche su push a main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: lorezno0010/stremioserver:latest
